<ul>
	<% @projects.each do |project| %>
		<li> <%= project.name %> </li>

		<% if project.created_at.today? %>
			<li> <%= project.created_at %> (Created) </li>
			<% elsif %>	
			<li><%= project.updated_at %>(Updated)</li>
		<% end %>
	<% end %>
</ul>